{% extends 'base.html' %}
{% load static %}
{% block content %}
			<section class="page_breadcrumbs cs gradient background_cover color_overlay section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Right sidebar</h2>
							<ol class="breadcrumb big-spacing darklinks">
								<li> <a href="./">
							Home
						</a> </li>
								<li> <a href="#">Blog</a> </li>
								<li class="active">Right sidebar</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_130 section_padding_bottom_130 columns_padding_25">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="intro_section ds blog_slider">
								<div class="flexslider text-center" data-nav="false">
									<ul class="slides">
										<li> <img src="{% static 'images/gallery/04.jpg' %}" alt="">
											<div class="container">
												<div class="row">
													<div class="col-sm-12 text-center">
														<div class="slide_description_wrapper">
															<div class="slide_description">
																<div class="intro-layer" data-animation="fadeInUp">
																	<h2 class="thin"> Easy Way<br> <span class="semibold">to Trade</span><br> <span class="weight-black">Bitcoin</span> </h2>
																</div>
															</div>
															<!-- eof .slide_description -->
														</div>
														<!-- eof .slide_description_wrapper -->
													</div>
													<!-- eof .col-* -->
												</div>
												<!-- eof .row -->
											</div>
											<!-- eof .container -->
										</li>
										<li> <img src="{% static 'images/gallery/05.jpg' %}" alt="">
											<div class="container">
												<div class="row">
													<div class="col-sm-12 text-center">
														<div class="slide_description_wrapper">
															<div class="slide_description">
																<div class="intro-layer" data-animation="fadeInUp">
																	<h2 class="thin"> Choose<br> <span class="semibold">Progress</span><br> <span class="weight-black">&amp; Success</span> </h2>
																</div>
															</div>
															<!-- eof .slide_description -->
														</div>
														<!-- eof .slide_description_wrapper -->
													</div>
													<!-- eof .col-* -->
												</div>
												<!-- eof .row -->
											</div>
											<!-- eof .container -->
										</li>
										<li> <img src="{% static 'images/gallery/06.jpg' %}" alt="">
											<div class="container">
												<div class="row">
													<div class="col-sm-12 text-center">
														<div class="slide_description_wrapper">
															<div class="slide_description">
																<div class="intro-layer" data-animation="fadeInUp">
																	<h2 class="thin"> <span>Rent,</span><br> <span class="highlight semibold">Invest</span><br> <span class="weight-black">&amp; Trade</span> </h2>
																</div>
															</div>
															<!-- eof .slide_description -->
														</div>
														<!-- eof .slide_description_wrapper -->
													</div>
													<!-- eof .col-* -->
												</div>
												<!-- eof .row -->
											</div>
											<!-- eof .container -->
										</li>
									</ul>
								</div>
								<!-- eof flexslider -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7 col-md-8 col-lg-8">
							<article class="vertical-item content-padding big-padding with_border post format-standard">
								<div class="item-media entry-thumbnail"> <img src="{% static 'images/gallery/12.jpg' %}" alt=""> </div>
								<div class="item-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title"> <a href="blog-single-right.html">Post with large image</a> </h4>
									</header>
									<div class="entry-content">
										<p>Short ribs tenderloin corned beef pork. Picanha filet mignon cupim pastrami flank turkey jowl pork pork belly biltong venison sausage leberkas strip steak chicken. Pork chop pig prosciutto beef ribs ribeye brisket doner corned beef cupim frankfurter.
											Pancetta shoulder jerky, tenderloin cupim tail ribeye bresaola short ribs pig frankfurter doner ground round andouille. Pig sausage picanha, cupim strip steak jowl alcatra turducken.</p>
									</div>
								</div>
							</article>
							<!-- .post -->
							<article class="post format-small-image">
								<div class="side-item side-md content-padding big-padding with_border">
									<div class="row">
										<div class="col-md-5">
											<div class="item-media entry-thumbnail"> <img src="{% static 'images/events/04.jpg' %}" alt=""> </div>
										</div>
										<div class="col-md-7">
											<div class="item-content">
												<header class="entry-header">
													<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
													<a href="blog-single-right.html">
														<time datetime="2017-10-03T08:50:40+00:00">
															22.10.17
														</time>
													</a>
												</span> <span class="highlightlinks">
													<a href="blog-right.html">
														news
													</a>
												</span> </div>
													<h4 class="entry-title"> <a href="blog-single-right.html" rel="bookmark">Post With Small Image</a> </h4>
												</header>
												<div class="entry-content">
													<p>Pork chop pig prosciutto beef ribs ribeye brisket doner corned beef cupim frankfurter. Pancetta shoulder jerky, tenderloin cupim tail ribeye bresaola short ribs pig frankfurter doner ground round andouille.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- .post -->
							<article class="vertical-item content-padding big-padding with_border post format-gallery">
								<div class="item-media entry-thumbnail">
									<div class="flexslider" data-dots="true" data-nav="false">
										<ul class="slides">
											<li> <img src="{% static 'images/gallery/03.jpg' %}" alt=""> </li>
											<li> <img src="{% static 'images/gallery/06.jpg' %}" alt=""> </li>
											<li> <img src="{% static 'images/gallery/07.jpg' %}" alt=""> </li>
										</ul>
									</div>
									<!-- eof flexslider -->
								</div>
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title"> <a href="blog-single-right.html" rel="bookmark">Post With Carousel</a> </h4>
									</header>
									<!-- .entry-header -->
									<div class="entry-content">
										<p>Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim. Qui blandit praesent luptatum zzril delenit augue duis dolore feugait nulla facilisi. Lorem ipsum dolor
											sit amet, consectetuer adipiscing elitsed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat.</p>
									</div>
								</div>
								<!-- .item-content.entry-content -->
							</article>
							<!-- .post -->
							<article class="vertical-item content-padding big-padding with_border post format-video">
								<div class="item-media entry-thumbnail">
									<div class="embed-responsive embed-responsive-3by2"> <a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
									<img src="{% static '/gallery/02.jpg' %}" alt="">
								</a> </div>
								</div>
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title"> <a href="blog-single-video-right.html" rel="bookmark">Post With Vimeo Video</a> </h4>
									</header>
									<!-- .entry-header -->
									<div class="entry-content">
										<p>Qui blandit praesent luptatum zzril delenit augue duis dolore feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat.</p>
									</div>
								</div>
								<!-- .item-content.entry-content -->
							</article>
							<article class="vertical-item content-padding big-padding with_border post format-video">
								<div class="item-media entry-thumbnail">
									<div class="embed-responsive embed-responsive-3by2 "> <a href="https://www.youtube.com/embed/mcixldqDIEQ" class="embed-placeholder">
									<img src="{% static 'images/gallery/05.jpg' %}" alt="">
								</a> </div>
									<!-- <iframe width="1000" height="460" src="https://www.youtube.com/embed/mcixldqDIEQ" allowfullscreen></iframe> --></div>
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title"> <a href="blog-single-video-right.html" rel="bookmark">Post With Youtube Video</a> </h4>
									</header>
									<!-- .entry-header -->
									<div class="entry-content">
										<p>Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.</p>
									</div>
								</div>
								<!-- .item-content.entry-content -->
							</article>
							<article class="vertical-item content-padding big-padding with_border post format-aside ">
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title"> <a href="blog-single-right.html" rel="bookmark">Post Format: Aside</a> </h4>
									</header>
									<!-- .entry-header -->
									<div class="entry-content">
										<p>“I never tried to prove nothing, just wanted to give a good show. My life has always been my music, it's always come first, but the music ain't worth nothing if you can't lay it on the public. The main thing is to live for that audience, 'cause
											what you're there for is to please the people.”</p>
									</div>
								</div>
								<!-- eof .item-content -->
							</article>
							<article class="vertical-item content-padding big-padding text-center ds bg_teaser after_cover darkgrey_bg post format-status"> <img src="{% static '/gallery/06.jpg' %}" alt="">
								<div class="item-content entry-content">
									<header class="entry-header"> <img alt="" src="{% static 'images/faces/03.jpg' %}" class="avatar avatar-96 photo avatar-default round">
										<div class="topmargin_20 small-text no-spacing highlightlinks"> <a href="blog-right.html">
										status
									</a> </div>
										<div class="small-text no-spacing darklinks"> <a href="blog-single-right.html">
										<time datetime="2017-10-03T08:50:40+00:00">
											29.09.2017
										</time>
									</a> </div>
										<h4 class="entry-title hover-color2"> <a href="blog-single-right.html" rel="bookmark">Post Format: Status</a> </h4>
									</header>
									<!-- .entry-header -->
								</div>
								<!-- eof .item-content -->
							</article>
							<article class="vertical-item content-padding big-padding with_border post format-link">
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title"> <a href="blog-single-right.html" rel="bookmark">Post Format: Link</a> </h4>
									</header>
									<!-- .entry-header -->
								</div>
								<!-- eof .item-content -->
							</article>
							<article class="vertical-item post content-padding big-padding with_border format-image">
								<div class="item-media entry-thumbnail"> <img src="{% static '/gallery/06.jpg' %}" alt=""> </div>
								<!-- .item-media -->
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title"> <a href="blog-single-right.html" rel="bookmark">Post format: Image</a> </h4>
									</header>
									<!-- .entry-header -->
								</div>
								<!-- eof .item-content -->
							</article>
							<article class="vertical-item content-padding big-padding ds bg_teaser after_cover darkgrey_bg post format-quote rounded overflow_hidden"> <img src="{% static '/gallery/08.jpg' %}" alt="">
								<div class="item-content entry-content text-center">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="darklinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
									</header>
									<div class="entry-content">
										<blockquote> I’ve been bringing my daughter to your riding school for the last 3 years. It is a fantastic place to ride whether you’re starting for the first time or have some.
											<div class="item-meta">
												<h5>William B. Dean</h5>
												<p class="small-text no-spacing highlight">Investor</p>
											</div>
										</blockquote>
									</div>
									<!-- .entry-content -->
								</div>
								<!-- eof .item-content -->
							</article>
							<article class="vertical-item content-padding big-padding with_border post format-chat">
								<div class="item-media"> <img src="{% static '/gallery/04.jpg' %}" alt="" /> </div>
								<div class="item-content entry-content">
									<header class="entry-header">
										<div class="entry-meta small-text no-spacing content-justify"> <span class="greylinks">
										<a href="blog-single-right.html">
											<time datetime="2017-10-03T08:50:40+00:00">
												22.10.17
											</time>
										</a>
									</span> <span class="highlightlinks">
										<a href="blog-right.html">
											news
										</a>
									</span> </div>
										<h4 class="entry-title "> <a href="blog-single-right.html" rel="bookmark">Post Format: Chat</a> </h4>
									</header>
									<!-- .entry-header -->
									<div class="entry-content">
										<p>Abbott: Strange as it may seem, they give ball players nowadays very peculiar names.</p>
										<p>Costello: Funny names?</p>
										<p>Abbott: Nicknames, nicknames. Now, on the St. Louis team we have Who's on first, What's on second, I Don't Know is on third–</p>
										<p>Costello: That's what I want to find out. I want you to tell me the names of the fellows on the St. Louis team.</p>
										<p>Abbott: I'm telling you. Who's on first, What's on second, I Don't Know is on third–</p>
										<p>Costello: You know the fellows' names?</p>
										<p>Abbott: Yes.</p>
									</div>
									<!-- .entry-content -->
								</div>
								<!-- eof .item-content -->
							</article>
							<div class="text-center topmargin_60">
								<ul class="pagination">
									<li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<!--eof .col-sm-8 (main content)-->
						<!-- sidebar -->
						<aside class="col-sm-5 col-md-4 col-lg-4">
							<div class="widget widget_apsc_widget">
								<h3 class="widget-title">Get In Touch</h3>
								<div class="apsc-icons-wrapper clearfix apsc-theme-4">
									<div class="apsc-each-profile">
										<a class="apsc-facebook-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="fa fa-facebook apsc-facebook"></i>
						<span class="media-name">Facebook</span> </span> <span class="apsc-count">9.8K</span><span class="apsc-media-type">Fans</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-twitter-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="fa fa-twitter apsc-twitter"></i>
						<span class="media-name">Twitter</span> </span> <span class="apsc-count">4.9K</span><span class="apsc-media-type">Followers</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-google-plus-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="apsc-googlePlus fa fa-google-plus"></i>
						<span class="media-name">google+</span> </span> <span class="apsc-count">10.1M</span><span class="apsc-media-type">Followers</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-instagram-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="apsc-instagram fa fa-instagram"></i>
						<span class="media-name">Instagram</span> </span> <span class="apsc-count">4</span><span class="apsc-media-type">Followers</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-youtube-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="apsc-youtube fa fa-youtube"></i>
						<span class="media-name">Youtube</span> </span> <span class="apsc-count">2.2K</span><span class="apsc-media-type">Subscriber</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-soundcloud-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="apsc-soundcloud fa fa-soundcloud"></i>
						<span class="media-name">Soundcloud</span> </span> <span class="apsc-count">8K</span><span class="apsc-media-type">Followers</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-dribble-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="apsc-dribbble fa fa-dribbble"></i>
						<span class="media-name">dribble</span> </span> <span class="apsc-count">0</span><span class="apsc-media-type">Followers</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-edit-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="apsc-posts fa fa-edit"></i>
						<span class="media-name">Post</span> </span> <span class="apsc-count">1</span><span class="apsc-media-type">Post</span> </div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-comment-icon clearfix" href="#">
											<div class="apsc-inner-block"> <span class="social-icon">
						<i class="apsc-comments fa fa-comments"></i>
						<span class="media-name">Comment</span> </span> <span class="apsc-count">0</span><span class="apsc-media-type">Comments</span> </div>
										</a>
									</div>
								</div>
							</div>
							<div class="widget widget_mailchimp">
								<h3 class="widget-title">Newsletter</h3>
								<form class="signup" action="./" method="get">
									<div class="form-group-wrap">
										<div class="form-group"> <label for="mailchimp-aside" class="sr-only">Enter your email here</label> <input name="email" type="email" id="mailchimp-aside" class="mailchimp_email form-control" placeholder="E-mail Address"> </div> <button type="submit" class="theme_button color1 no_bg_button">Subscribe</button>										</div>
									<p>Enter Email here to be updated. We promise not to send you spam!</p>
									<div class="response"></div>
								</form>
							</div>
							<div class="widget widget_flickr">
								<h3 class="widget-title">Flickr Widget</h3>
								<ul id="flickr"></ul>
							</div>
							<div class="widget widget_recent_posts">
								<h3 class="widget-title">Recent Posts</h3>
								<ul class="media-list">
									<li class="media">
										<div class="media-left media-middle"> <img src="{% static '/recent_post1.jpg" alt="" /> </div>
										<div class="media-body media-middle">
											<h4 class="entry-title"> <a href="blog-single-left.html">Free Philippine Real Estate Ads Forums </a> </h4>
											<div class="small-text no-spacing highlightlinks hover-color2"> <a href="blog-single-right.html">
									<time datetime="2017-10-03T08:50:40+00:00">
										22.10.17
									</time>
								</a> </div>
										</div>
									</li>
									<li class="media">
										<div class="media-left media-middle"> <img src="{% static '/recent_post2.jpg' %}" alt="" /> </div>
										<div class="media-body media-middle">
											<h4 class="entry-title"> <a href="blog-single-left.html">Study 800 Numbers Still Popular With Advertisers</a> </h4>
											<div class="small-text no-spacing highlightlinks hover-color3"> <a href="blog-single-right.html">
									<time datetime="2017-10-03T08:50:40+00:00">
										22.10.17
									</time>
								</a> </div>
										</div>
									</li>
									<li class="media">
										<div class="media-left media-middle"> <img src="{% static 'images/recent_post3.jpg' %}" alt="" /> </div>
										<div class="media-body media-middle">
											<h4 class="entry-title"> <a href="blog-single-left.html">Differentiate Yourself And Attract More</a> </h4>
											<div class="small-text no-spacing highlightlinks"> <a href="blog-single-right.html">
									<time datetime="2017-10-03T08:50:40+00:00">
										22.10.17
									</time>
								</a> </div>
										</div>
									</li>
								</ul>
							</div>
							<div class="widget widget_search">
								<h3 class="widget-title">Search On Website</h3>
								<form method="get" class="searchform" action="./">
									<div class="form-group"> <label class="sr-only" for="widget-search">Search for:</label> <input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Search Keyword"> </div> <button type="submit" class="theme_button color1 no_bg_button">Search</button>									</form>
							</div>
						</aside>
						<!-- eof aside sidebar -->
					</div>
				</div>
			</section>
{% endblock %}