{% extends 'base.html' %} {% load static %} {% block content %}
<section class="page_breadcrumbs cs gradient background_cover color_overlay section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{address}}"></img>
				<h3> Please pay to the following address from your wallet</h3>
				<h4>{{ address }}</h4>
            </div>
		</div>
	</div>
</section>
{% endblock %}