{% extends 'base.html' %}
{% load static %}
{% block content %}
			<section class="page_breadcrumbs cs gradient background_cover color_overlay section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Services</h2>
							<ol class="breadcrumb big-spacing darklinks">
								<li> <a href="./">
							Home
						</a> </li>
								<li> <a href="#">Pages</a> </li>
								<li class="active">Services</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_150 section_padding_bottom_130 columns_margin_bottom_20">
				<div class="container">
					<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
						<div class="isotope-item col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border text-center">
								<div class="item-media"> <img src="images/gallery/07.jpg" alt=""> </div>
								<div class="item-content">
									<h4 class="entry-title"> <a href="service-single.html">Bitcoin Transaction</a> </h4>
									<p class="content-3lines-ellipsis">A transaction is a transfer of Bitcoin value that is broadcast to the network and collected into.</p>
								</div>
							</article>
						</div>
						<div class="isotope-item col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border text-center">
								<div class="item-media"> <img src="images/gallery/02.jpg" alt=""> </div>
								<div class="item-content">
									<h4 class="entry-title"> <a href="service-single.html">Bitcoin Exchange</a> </h4>
									<p class="content-3lines-ellipsis">There’s no «best Bitcoin exchange» on the internet today. There are several major Bitcoin exchanges.</p>
								</div>
							</article>
						</div>
						<div class="isotope-item col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border text-center">
								<div class="item-media"> <img src="images/gallery/08.jpg" alt=""> </div>
								<div class="item-content">
									<h4 class="entry-title"> <a href="service-single.html">Bitcoin Investment</a> </h4>
									<p class="content-3lines-ellipsis">Bitcoin Blockchain is the technology backbone of the network and provides a tamper-proof data.</p>
								</div>
							</article>
						</div>
						<div class="isotope-item col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border text-center">
								<div class="item-media"> <img src="images/gallery/19.jpg" alt=""> </div>
								<div class="item-content">
									<h4 class="entry-title"> <a href="service-single.html">Bitcoin Escrow Service</a> </h4>
									<p class="content-3lines-ellipsis">The bitcoin escrow service acts as a neutral third party between buyer and seller when doing business.</p>
								</div>
							</article>
						</div>
						<div class="isotope-item col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border text-center">
								<div class="item-media"> <img src="images/gallery/20.jpg" alt=""> </div>
								<div class="item-content">
									<h4 class="entry-title"> <a href="service-single.html">Bitcoin Mining</a> </h4>
									<p class="content-3lines-ellipsis">Bitcoin mining is legal and is accomplished by running double round hash verification processes.</p>
								</div>
							</article>
						</div>
						<div class="isotope-item col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border text-center">
								<div class="item-media"> <img src="images/gallery/21.jpg" alt=""> </div>
								<div class="item-content">
									<h4 class="entry-title"> <a href="service-single.html">Software Development</a> </h4>
									<p class="content-3lines-ellipsis">Bitcoin Blockchain is the technology backbone of the network and provides a tamper-proof data.</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
{% endblock content %}