{% extends 'base.html' %}
{% load transaction_status %}
{% load static %}
{% block content %}
			<section class="ls section_padding_top_100 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive">
								<table class="table_template darklinks" id="timetable">
									<thead>
										<tr>
											<th></th>
											<th>User</th>
											<th>From currency</th>
											<th>To Currency</th>
											<th>Amount</th>
											<th>Transaction ID</th>
											<th>Transaction From</th>
											<th>Transaction To</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											{% for obj in object_list %}
											    <td>{% transaction_status obj.transaction_id %}</td>
											    <td>{{obj.user}}</td>
												<td>{{obj.from_currency}}</td>
												<td>{{obj.to_currency}}</td>
												<td>{{obj.amount}}</td>
												<td>{{obj.transaction_id}}</td>
												<td>{{obj.transaction_from}}</td>
												<td>{{obj.transaction_to}}</td>
												</tr>
											{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock content %}